# 项目构建输出目录（打包/编译生成的文件，重点屏蔽）
dist/
dist-electron/
out/
release/

# 依赖包目录
node_modules/


# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器/系统缓存
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# 其他编译缓存
.nuxt/
.cache/
coverage/